*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(60deg, violet, blue);
}

button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
}