.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

#flex1, #flex2, #flex3{
    width: 150px;
    height: 150px;
    margin: 5px 10px;
    background-color: #008000;
}