.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(200px, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#grid1, #grid2, #grid3, #grid4, #grid5, #grid6 {
    width: 150px;
    height: 150px;
    background: #ff0000;
    margin: 5px 10px;
}

@media (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        width: 100%;
    }
}