* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffa600;
    --secondary-color: #f5f5f5;
    --accent: #c0c0c0;
}

.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container-image img {
    width: 50px;
    height: auto; 
    /* animation: Pulse 2s ease-in-out infinite; */
}

/* @keyframes Pulse {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
} */

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    margin: 0 auto;
}

.container-header Button, a, i {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: sans-serif;
    transition: transform 0.2s ease-in-out;
    border: none;
    background: none;
}

.container-header Button a, i:hover {
    transform: scale(1.1);
}

.formAdd {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.inputtitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.inputtitle label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.inputtitle input {
    border: none;
    border-bottom: 1px solid var(--accent);
}

.inputtitle input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

.inputnote {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 10px;
}

.inputnote label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.inputnote textarea {
    border: none;
    border-bottom: 1px solid var(--accent);
    height: 100vh;
}

.inputnote textarea:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}