.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container table, th{
    border: 1px solid #808080;
    width: 500px;
    height: 100%;
}

.container table td{
    border: 1px solid #808080;
    width: 500px;
    height: 100%;
    border-collapse: collapse;
    background: #808080;
}